<div class="ui container">
    <div class="ui secondary pointing menu">
        <a routerLink="/" class="item">
           DevEmail
        </a>
        <div class="right menu">
            <ng-container *ngIf="signein | async">
                <a class="ui item" routerLink="/inbox" routerLinkActive="active">
                    Inbox
                </a>
                <a class="ui item" routerLink="/signout" routerLinkActive="active">
                    Sair
                </a>
            </ng-container>
            <ng-container *ngIf="!(signein | async)">
                <a class="ui item" routerLink="/signin" routerLinkActive="active">
                    Logar
                </a>
                <a class="ui item" routerLink="/signup" routerLinkActive="active">
                    Cadastrar
                </a>
            </ng-container>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
